@model int

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>
    <h1><font color="lime">Товар куплен</font></h1>
    <a href="/">Вернуться на главную страницу</a>
    <a href="/home/category?categoryId=@Model">Вернуться в категорию</a>
</body>
</html>