@model string

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>
    <h1><font color="red">@Model</font></h1>
    <a href='javascript:history.go(-1)'>Назад</a>
</body>
</html>