@{
    ViewData["Title"] = "Удаление запрещено";
}
<h1 style="color: red">Удаление товара сейчас невозможно, вернитесь к списку товаров и повторите покупку!</h1>

<a asp-action="Index">Back to List</a>