@{
    ViewData["Title"] = "Покупка запрещена";
}
<h1 style="color: red">Удаление комментария сейчас невозможно, вернитесь к списку комментариев и повторите удаление</h1>

<a asp-action="Index">Back to List</a>